<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GORT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
  </head>
  
  <body>
    <div class="container">
        <div class="categories">
        <h1>Categories</h1>
            <!-- List your categories here -->
                {% for cat in cats %}
                <cats>
                    <li><a href="{{ cat.url }}">{{ cat.name }}</a></li>
                </cats>
                {% endfor %}
        </div>
        <div class="main-content">
            <current_cat>
            <h1>Latest {{current_cat}}</h1>
            </current_cat>
            <div>
                {% for article in articles %}
                <article>
                    <h2><a href="{{ article.url }}">{{ article.headline }}</a></h2>
                    <p>{{ article.title }}</p>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
